export(animateFX)
export(getSnapshots)
export(interactiveFX)
export(scrapeFX)
export(strikeFX)
export(urlsToDataFrame)
import(XML)
import(ggplot2)
import(hexbin)
import(mgcv)
import(plyr)
import(rgl)
importFrom(MASS,kde2d)
importFrom(lubridate,days)
importFrom(stringr,str_extract_all)
