export(animateFX)
export(export)
export(getSnapshots)
export(interactiveFX)
export(makeUrls)
export(scrape)
export(scrapeFX)
export(strikeFX)
export(urlsToDataFrame)
import(XML2R)
import(ggplot2)
import(hexbin)
import(mgcv)
import(plyr)
import(rgl)
importFrom(MASS,kde2d)
importFrom(lubridate,days)
